@keyframes animateCircle
  0% {border-width: 1vw}
  50% {border-width: 3vw}
  100% {border-width: 1vw}

#circle.circleAnimate
  border-width: 3vw;
  animation: animateCircle 3s infinite;
  border: solid 1vw aqua;