#popup-menu
  width 100vw
  height 100vh
  background-color black
  z-index 10
  position absolute

#popup-menu-container-item
  display flex
  align-items stretch
  justify-content center
  padding  10% 5%
  width 90%
  height 80%

#popup-menu .menu-section
  text-align center
  background-color darkcyan
  flex-grow 1
  margin 1%