#popup-menu
  width 100vw
  height 100vh
  background-color black
  z-index 10
  position absolute
  display flex
  align-items center
  justify-content center

#popup-menu-container-item
  display flex
  align-items stretch
  justify-content center
  flex-direction row
  flex-wrap wrap
  width 80%
  height 80%

#popup-menu .menu-section
  display flex
  align-items center
  justify-content center
  background-color darkcyan
  margin 1% 1%
  width (50% - @margin*2)
