#progress, #dropzone, #loadImage, #circle
  margin auto
  height 80vh
  width 80vh
  

#container-circle
  width 100vw
  height 100vh
  display flex
  align-items center
  justify-content center


#circle
  display flex
  color white
  border-radius 50%
  transition 0.5s
  z-index 1
  text-align center
  align-items center
  justify-content center


#circle label
  display: inline-block
  color: white;


#circle-progress
  border-radius 50%
  z-index -10
  width 90%
  height 90%
  

#black
  margin auto
  height 72vh
  width 72vh
  border-radius 50%
  background-color rgba(0, 0, 0, 0.5)
  position absolute
  left 0
  right 0
  top 0
  bottom 0


#percent-circle
  position absolute
  margin auto
  left 0
  right 0
  top 0
  bottom 0
  display flex
  text-align center
  align-items center
  justify-content center

#percent-circle p
  display inline

.infos
  z-index 1
  font-size 3em